@page "/mainfa"
@inherits MainFABase
@attribute [Authorize]
    <div class="row ml-1 mr-1">
        <div class="col-sm-12 text-center btn-gradian1 text-white-50">
            <h3>Financial Accounting</h3>
        </div>
    </div>
    @if (ModuleObjectMaster == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white-50 text-center">
                        <h5>Masters</h5>
                    </div>
                    <div class="card-body text-center">
                        <EditForm Model="@ModuleObjectMaster">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            @foreach (var modMast in ModuleObjectMaster)
                            {
                                <div><a href="@modMast.ObjectName"> @modMast.ObjectDisplayCaption</a></div>
                                <hr />
                            }
                        </EditForm>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white-50 text-center">
                        <h5>Transactions</h5>
                    </div>
                    <div class="card-body text-center">
                        <EditForm Model="@ModuleObjectMasterTrans">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            @foreach (var modMastTrans in ModuleObjectMasterTrans)
                            {
                                <div><a href="@modMastTrans.ObjectName"> @modMastTrans.ObjectDisplayCaption</a></div>
                                <hr />
                            }
                        </EditForm>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white-50 text-center">
                        <h5>Reports</h5>
                    </div>
                    <div class="card-body text-center">
                        <EditForm Model="@ModuleObjectMasterRpt">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            @foreach (var modMastRpt in ModuleObjectMasterRpt)
                            {
                                <div><a href="@modMastRpt.ObjectName"> @modMastRpt.ObjectDisplayCaption</a></div>
                                <hr />
                            }
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    }
