@page "/voucherentry"
@inherits VoucherEntryBase
<h3>Voucher Entry Comming soon...</h3>
<div>
    <EditForm Model="@Trns">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Voucher Date</label>
            <div class="col-sm-4">
                <InputDate id="vdt" class="form-control" @bind-Value="CurDate">

                </InputDate>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Select Book</label>
            <div class="col-sm-8">
                <CustomInputSelect id="BookID" class="form-control"
                                   ValueChanged="@((string value)=>BookChange(value))"
                                   ValueExpression="@(()=>BookNo)"
                                   Value="BookNo">

                    <option value="0">Select Book</option>
                    @foreach (var bk in BookMaster)
                    {
                        <option value="@bk.BookNo"> @bk.BookName</option>
                    }
                </CustomInputSelect>
            </div>
        </div>
        <hr class="hr-new1" />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Action</label>
            <div class="col-sm-4">
                <button id="NewV" class="btn btn-primary btn-width-accountMaster" @onclick="AddVoucher">Add New Voucher</button>
            </div>
            <div class="col-sm-4">
                <button id="FindVB" class="btn btn-primary btn-width-accountMaster" @onclick="FindVoucher">Find Voucher</button>
            </div>
        </div>
        <hr class="hr-new1" />
        @if (Dis_Find == true)
        {
            <div id="FindV" class="form-group row">
                <label class="col-sm-2 col-form-label">Find List Voucher</label>
                <div class="col-sm-8">
                    @if (TrnFind == null)
                    {
                        <div>Wait..</div>
                    }
                    else
                    {

                        <CustomInputSelect id="FindVno" class="form-control"
                                           ValueChanged="@((string value)=>Voucher_Change(value))"
                                           ValueExpression="@(()=>VoucherNo)"
                                           Value="VoucherNo">
                            <option value="0">Select Voucher</option>
                            @foreach (var findV in TrnFind)
                            {
                                <option value="@findV.TrnID,@findV.BookNo,@findV.Vdt,@findV.Vno,@findV.SvNo">@findV.Vno</option>
                            }
                        </CustomInputSelect>
                    }
                </div>
            </div>
            <div class="col-12">
                @if (TrnFindNew.Count() > 0)
                {
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <td>Vno</td>
                                <td>Svno</td>
                                <td>AcNo</td>
                                <td>AcName</td>
                                <td>Narration</td>
                                <td>Debit</td>
                                <td>Credit</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var filterTrn in TrnFindNew)
                            {
                                <tr>
                                    <td>@filterTrn.Vno</td>
                                    <td>@filterTrn.SvNo</td>
                                    <td>@filterTrn.Acno</td>
                                    <td>@filterTrn.AcMaster.Acname</td>
                                    <td>@filterTrn.Narr1 @filterTrn.Narr2</td>
                                    <td>
                                        @if (filterTrn.Dc == "D")
                                        {@filterTrn.Amount}
                                </td>
                                <td>
                                    @if (filterTrn.Dc == "C")
                                    {@filterTrn.Amount}
                            </td>
                        </tr>
                    }
                        </tbody>
                    </table>
                }
            </div>
        }
        @if (Dis_Add == true)
        {
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ledger</label>
                <div class="col-sm-8">
                    <CustomInputSelect id="Ledger" class="form-control" ValueChanged="@((string val)=>Ledger_Change(val))"
                                       ValueExpression="@(()=>LedgerID)"
                                       Value="LedgerID">
                        <option value="0,GL">Select Ledger</option>
                        @foreach (var findLedger in Ledgers)
                        {
                            <option value="@findLedger.LedgerID,@findLedger.LedgerCode">@findLedger.LedgerName</option>
                        }
                    </CustomInputSelect>
                </div>
            </div>
            @if (SubLedger == null)
            {
                <div>wait...</div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Sub Ledger</label>
                    <div class="col-sm-8">
                        <InputSelect id="subledger" class="form-control"
                                     ValueChanged="@((string subval)=>SubLedger_Change(subval))"
                                     ValueExpression="@(()=>SubLedgerID)"
                                     Value="SubLedgerID">
                            @foreach (var findSubl in SubLedger)
                            {
                                <option>@findSubl.SubLedgerName </option>
                            }
                        </InputSelect>
                    </div>
                </div>
            }
            @if (AcMaster == null)
            {
                <div>wait...</div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Account Name</label>
                    <div class="col-sm-8">
                        <InputSelect id="subledger" class="form-control"
                                     ValueChanged="@((string subval)=>Account_Change(subval))"
                                     ValueExpression="@(()=>AccountCode)"
                                     Value="AccountCode">
                            @foreach (var findAcct in AcMaster)
                            {
                                <option>@findAcct.Acname </option>
                            }
                        </InputSelect>
                    </div>
                </div>
            }
        }

    </EditForm>
</div>