@page "/voucherentry"
@inherits VoucherEntryBase

@*@inherits InputTextOnInput*@
<h3>Voucher Entry</h3>
<div>
    <EditForm Model="@Trns" OnValidSubmit="SaveVoucher">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Voucher Date</label>
            <div class="col-sm-4">
                <InputDate id="vdt" disabled="@IsDisableVoucherDateAndBook" 
                           class="form-control" @bind-Value="VoucherDate">

                </InputDate>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Select Book</label>
            <div class="col-sm-8">
                <CustomInputSelect id="BookID" class="form-control" disabled="@IsDisableVoucherDateAndBook"
                                   ValueChanged="@((string value)=>BookChange(value))"
                                   ValueExpression="@(()=>FetchBookNo)"
                                   Value="FetchBookNo">

                    <option value="0">Select Book</option>
                    @foreach (var bk in BookMaster)
                    {
                        <option value="@bk.BookMasterID,@bk.BookNo"> @bk.BookName</option>
                    }
                </CustomInputSelect>
            </div>
        </div>
        <hr class="hr-new1" />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Actions</label>
            <div class="col-sm-2">
                @*<button id="NewV" class="btn btn-primary" style="width:200px" @onclick="AddVoucher">Add New Voucher</button>*@
                @*<a class="btn btn-primary" style="width:200px" @onclick="AddVoucher">Add New Voucher</a>*@
                <a class="btn btn-primary" style="width:200px;color:white" @onclick="AddVoucher">Add New Voucher</a>
            </div>
            <div class="col-sm-2">
                <a href="/VoucherEntry" @onclick="VoucherPageReload" class="btn btn-primary" style="width:200px">Cancel Voucher</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary" style="width:200px;color:white" @onclick="FindVoucher">Find Voucher</a>
                @*<button id="FindVB" class="btn btn-primary" style="width:200px" @onclick="FindVoucher">Find Voucher</button>*@
            </div>
        </div>
        <hr class="hr-new1" />
        @if (Dis_Find == true)
        {
            <div id="FindV" class="form-group row">
                <label class="col-sm-2 col-form-label">Find List Voucher</label>
                <div class="col-sm-8">
                    @if (TrnFind == null)
                    {
                        <div>Wait..</div>
                    }
                    else
                    {

                        <CustomInputSelect id="FindVno" class="form-control"
                                           ValueChanged="@((string value)=>Voucher_Change(value))"
                                           ValueExpression="@(()=>VoucherNoFind)"
                                           Value="VoucherNoFind">
                            <option value="0">Select Voucher</option>
                            @foreach (var findV in TrnFind)
                            {
                                <option value="@findV.TrnID,@findV.BookNo,@findV.Vdt,@findV.Vno,@findV.SvNo">@findV.Vno</option>
                            }
                        </CustomInputSelect>
                    }
                </div>
            </div>
            <div class="col-12">
                @if (TrnFindNew != null)
                {
                    @if (TrnFindNew.Count() > 0)
                    {
                        <table class="table table-light">
                            <thead>
                                <tr>
                                    <td>Vno</td>
                                    <td>Svno</td>
                                    <td>AcNo</td>
                                    <td>AcName</td>
                                    <td>Narration</td>
                                    <td>Debit</td>
                                    <td>Credit</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var filterTrn in TrnFindNew)
                                {
                                    <tr>
                                        <td>@filterTrn.Vno</td>
                                        <td>@filterTrn.SvNo</td>
                                        <td>@filterTrn.Acno</td>
                                        <td>@filterTrn.AcMaster.Acname</td>
                                        <td>@filterTrn.Narr1 @filterTrn.Narr2</td>
                                        <td>
                                            @if (filterTrn.Dc == "D")
                                            {@filterTrn.Amount}
                                        </td>
                                        <td>
                                            @if (filterTrn.Dc == "C")
                                            {@filterTrn.Amount}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            </div>
        }
        @if (Dis_Add == true)
        {
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ledger</label>
                <div class="col-sm-8">
                    <CustomInputSelect id="Ledger" class="form-control" ValueChanged="@((string val)=>Ledger_Change(val))"
                                       ValueExpression="@(()=>FetchLedgerID)"
                                       Value="FetchLedgerID">
                        <option value="0,GL">Select Ledger</option>
                        @foreach (var findLedger in Ledgers)
                        {
                            <option value="@findLedger.LedgerID,@findLedger.LedgerCode">@findLedger.LedgerName</option>
                        }
                        <ValidationMessage For="@(()=>Trns.LedgerID)" />
                    </CustomInputSelect>
                </div>
            </div>
            @if (SubLedger == null)
            {
                <div>wait...fetching subledger</div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Sub Ledger</label>
                    <div class="col-sm-8">
                        <InputSelect id="subledger" class="form-control"
                                     ValueChanged="@((string subval)=>SubLedger_Change(subval))"
                                     ValueExpression="@(()=>FetchSubLedger)"
                                     Value="FetchSubLedger">
                            <option>Select Sub Ledger</option>
                            @foreach (var findSubl in SubLedger)
                            {
                                <option value="@findSubl.SubLedgerID,@findSubl.SubLedgerCode">@findSubl.SubLedgerName </option>
                            }
                        </InputSelect>
                    </div>
                </div>
            }
            @if (AcMaster == null)
            {
                <div>Account Name</div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Account Name</label>
                    <div class="col-sm-8">
                        <InputSelect id="subledger" class="form-control"
                                     ValueChanged="@((string subval)=>Account_Change(subval))"
                                     ValueExpression="@(()=>FetchAccountCode)"
                                     Value="FetchAccountCode">
                            <option value="0">Select Account</option>
                            @foreach (var findAcct in AcMaster)
                            {
                                <option value="@findAcct.AcMasterID,@findAcct.Acno,@findAcct.Acname">@findAcct.Acno @findAcct.Acname </option>
                            }
                        </InputSelect>
                    </div>
                </div>
            }
            @if (CostCenter == null)
            {
                <div>Cost Center</div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cost Center</label>
                    <div class="col-sm-8">
                        <InputSelect id="subledger" class="form-control"
                                     ValueChanged="@((string value)=>CostCenter_Change(value))"
                                     ValueExpression="@(()=>CostCenterID)"
                                     Value="CostCenterID">
                            <option>Select Cost Center</option>
                            @foreach (var findCC in CostCenter)
                            {
                                <option value="@findCC.CostCenterID"> @findCC.CostCenterName </option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(()=>Trns.CostCenterID)" />
                    </div>
                </div>
            }
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Narration</label>
                <div class="col-sm-8">
                    <InputTextAreaOnInput Area id="Narration" bind-value:event="oninput" multiline="true"
                                          class="form-control" @bind-Value="Narration1">
                    </InputTextAreaOnInput>
                    <ValidationMessage For="@(()=>Trns.Narr1)"></ValidationMessage>
                </div>
                <div>Char left:@( Narration1 != null?(200-(Narration1).Length).ToString():"200")</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Cheque No</label>
                <div class="col-sm-4">
                    <InputText id="ChequeNo" class="form-control" @bind-Value="ChequeNo">
                    </InputText>
                </div>
                <label class="col-sm-1 col-form-label">VNo</label>
                <div><InputText id="SvNo" style="width:90px" disabled="true" class="form-control" @bind-Value="VoucherNumberSaved"></InputText></div>
                @*<label class="col-sm-1 col-form-label"></label>
        <div>
            <span class="oi oi-caret-left">

            </span>
        </div>*@
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Pair No</label>
                <div class="col-sm-4">
                    <InputText id="PairNo" class="form-control" @bind-Value="PairNo"></InputText>
                </div>
                <label class="col-sm-1 col-form-label">SVNo</label>
                <div><InputNumber id="SvNo" style="width:90px" disabled="true" class="form-control" @bind-Value="SVNo"></InputNumber></div>
                @*<label class="col-sm col-form-label"></label>*@
                <div class="col-sm-2">
                    @if (UpdateSubVoucherDisplay)
                    {
                    <span class="oi oi-caret-left">
                        <a class="btn btn-success" style="width:170px;color:white" @onclick="@(()=>UpdateSubVoucher(MyList))">Update SubVoucher</a>
                    </span>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Amount</label>
                <div class="col-sm-4">
                    <InputNumber id="Amount" class="form-control" @bind-Value="Amount">
                    </InputNumber>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Debit/Credit</label>
                <div class="col-sm-4">
                    <InputSelect id="DrCr" class="form-control"
                                 ValueChanged="@((string DrCrVal)=>DrCrChange(DrCrVal))"
                                 ValueExpression="@(()=>DebitCredit)"
                                 Value="DebitCredit">
                        <option>Select Trn</option>
                        <option value="D">Debit</option>
                        <option value="C">Credit</option>
                    </InputSelect>
                </div>
                <div class="col-sm-2 col-form-label">
                    @*<a class="btn btn-success" style="width:170px;color:white" disabled="true" @onclick="AddSubVoucher">Add SubVoucher</a>*@
                    <button class="btn btn-success" style="width:170px;color:white" disabled="@DisableAdd_SubVoucherButton" @onclick="AddSubVoucher">Add SubVoucher</button>
                </div>
                @*<span style="color:white">....</span>*@
                <div>
                      <button type="submit" class="btn btn-success btn-width" disabled="@DisableVoucherSaveButton" style="width:170px">Save Voucher</button>
                </div>
            </div>
            @if (MyList == null)
            {
                <div>wait....</div>
            }
            else
            {
                if (Dis_voucherTable == true)
                {
                    <table>
                        <thead>
                            <tr>
                                <th style="border:1px solid green">VNo</th>
                                <th style="border:1px solid green">Vdt</th>
                                <th style="border:1px solid green">SvNo</th>
                                <th style="border:1px solid green">Ledger</th>
                                <th style="border:1px solid green">SubLdgr</th>
                                <th style="border:1px solid green">AcNo</th>
                                <th style="border:1px solid green">Narration</th>
                                <th style="border:1px solid green">Debit</th>
                                <th style="border:1px solid green">Credit</th>
                            </tr>
                        </thead>

                        @foreach (var ml in MyList)
                        {
                    <tr>
                        <td style="border:1px solid green;vertical-align:top">@ml.Vno</td>
                        <td style="border:1px solid green;vertical-align:top">@ml.Vdt.Date</td>
                        <td style="border:1px solid green;vertical-align:top">@ml.SvNo</td>
                        <td style="border:1px solid green;vertical-align:top">@ml.Slcd</td>
                        <td style="border:1px solid green;vertical-align:top">@ml.SubLcd</td>
                        <td style="border:1px solid green;vertical-align:top">@ml.Acno</td>
                        <td style="border:1px solid green;vertical-align:top">@ml.Narr1</td>
                        <td style="border:1px solid green;vertical-align:top;text-align:center">@(ml.Dc == "D" ? @ml.Amount : 0)</td>
                        <td style="border:1px solid green;vertical-align:top;text-align:center">@(ml.Dc == "C" ? @ml.Amount : 0)</td>
                        <td style="border:none"><span class=""></span> <a class="btn btn-primary" style="color:white" @onclick="@(()=>FetchRow(ml))">Select</a></td>
                    </tr>
                        }
                    <tr style="border:1px solid green;background-color:yellow">
                        <td style="border:1px solid green;vertical-align:top"></td>
                        <td style="border:1px solid green;vertical-align:top;font-weight:bolder">Total</td>
                        <td style="border:1px solid green;vertical-align:top"></td>
                        <td style="border:1px solid green;vertical-align:top"></td>
                        <td style="border:1px solid green;vertical-align:top"></td>
                        <td style="border:1px solid green;vertical-align:top"></td>
                        <td style="border:1px solid green;vertical-align:top"></td>
                        <td style="border:1px solid green;vertical-align:top;text-align:center;font-weight:bolder">@DrAmount</td>
                        <td style="border:1px solid green;vertical-align:top;text-align:center;font-weight:bolder">@CrAmount</td>
                    </tr>
                    </table>
                }

            }
        }

    </EditForm>
</div>