@page "/voucherentry"
@inherits VoucherEntryBase

@*@inherits InputTextOnInput*@
<h3>Voucher Entry</h3>
<div>
    <EditForm Model="@Trns">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Voucher Date</label>
            <div class="col-sm-4">
                <InputDate id="vdt" disabled="@IsDisableVoucherDateAndBook" class="form-control" @bind-Value="VoucherDate">

                </InputDate>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Select Book</label>
            <div class="col-sm-8">
                <CustomInputSelect id="BookID" class="form-control" disabled="@IsDisableVoucherDateAndBook"
                                   ValueChanged="@((string value)=>BookChange(value))"
                                   ValueExpression="@(()=>FetchBookNo)"
                                   Value="FetchBookNo">

                    <option value="0">Select Book</option>
                    @foreach (var bk in BookMaster)
                    {
                        <option value="@bk.BookMasterID,@bk.BookNo"> @bk.BookName</option>
                    }
                </CustomInputSelect>
            </div>
        </div>
        <hr class="hr-new1" />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Actions</label>
            <div class="col-sm-2">
                <button id="NewV" class="btn btn-primary" style="width:200px" @onclick="AddVoucher">Add New Voucher</button>
            </div>
            <div class="col-sm-2">
                <a href="/VoucherEntry" @onclick="VoucherPageReload" class="btn btn-primary" style="width:200px">Cancel Voucher</a>
            </div>
            <div class="col-sm-2">
                <button id="FindVB" class="btn btn-primary" style="width:200px" @onclick="FindVoucher">Find Voucher</button>
            </div>
        </div>
        <hr class="hr-new1" />
        @if (Dis_Find == true)
        {
            <div id="FindV" class="form-group row">
                <label class="col-sm-2 col-form-label">Find List Voucher</label>
                <div class="col-sm-8">
                    @if (TrnFind == null)
                    {
                        <div>Wait..</div>
                    }
                    else
                    {

                        <CustomInputSelect id="FindVno" class="form-control"
                                           ValueChanged="@((string value)=>Voucher_Change(value))"
                                           ValueExpression="@(()=>VoucherNo)"
                                           Value="VoucherNo">
                            <option value="0">Select Voucher</option>
                            @foreach (var findV in TrnFind)
                            {
                                <option value="@findV.TrnID,@findV.BookNo,@findV.Vdt,@findV.Vno,@findV.SvNo">@findV.Vno</option>
                            }
                        </CustomInputSelect>
                    }
                </div>
            </div>
            <div class="col-12">
                @if (TrnFindNew.Count() > 0)
                {
                    <table class="table table-light">
                        <thead>
                            <tr>
                                <td>Vno</td>
                                <td>Svno</td>
                                <td>AcNo</td>
                                <td>AcName</td>
                                <td>Narration</td>
                                <td>Debit</td>
                                <td>Credit</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var filterTrn in TrnFindNew)
                            {
                                <tr>
                                    <td>@filterTrn.Vno</td>
                                    <td>@filterTrn.SvNo</td>
                                    <td>@filterTrn.Acno</td>
                                    <td>@filterTrn.AcMaster.Acname</td>
                                    <td>@filterTrn.Narr1 @filterTrn.Narr2</td>
                                    <td>
                                        @if (filterTrn.Dc == "D")
                                        {@filterTrn.Amount}
                                    </td>
                                    <td>
                                        @if (filterTrn.Dc == "C")
                                        {@filterTrn.Amount}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        }
        @if (Dis_Add == true)
        {
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Ledger</label>
                <div class="col-sm-8">
                    <CustomInputSelect id="Ledger" class="form-control" ValueChanged="@((string val)=>Ledger_Change(val))"
                                       ValueExpression="@(()=>FetchLedgerID)"
                                       Value="FetchLedgerID">
                        <option value="0,GL">Select Ledger</option>
                        @foreach (var findLedger in Ledgers)
                        {
                            <option value="@findLedger.LedgerID,@findLedger.LedgerCode">@findLedger.LedgerName</option>
                        }
                    </CustomInputSelect>
                </div>
            </div>
            @if (SubLedger == null)
            {
                <div>wait...fetching subledger</div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Sub Ledger</label>
                    <div class="col-sm-8">
                        <InputSelect id="subledger" class="form-control"
                                     ValueChanged="@((string subval)=>SubLedger_Change(subval))"
                                     ValueExpression="@(()=>FetchSubLedger)"
                                     Value="FetchSubLedger">
                            <option>Select Sub Ledger</option>
                            @foreach (var findSubl in SubLedger)
                            {
                                <option value="@findSubl.SubLedgerID,@findSubl.SubLedgerCode">@findSubl.SubLedgerName </option>
                            }
                        </InputSelect>
                    </div>
                </div>
            }
            @if (AcMaster == null)
            {
                <div>wait...fetching account</div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Account Name</label>
                    <div class="col-sm-8">
                        <InputSelect id="subledger" class="form-control"
                                     ValueChanged="@((string subval)=>Account_Change(subval))"
                                     ValueExpression="@(()=>FetchAccountCode)"
                                     Value="FetchAccountCode">
                            <option value="0">Select Account</option>
                            @foreach (var findAcct in AcMaster)
                            {
                                <option value="@findAcct.AcMasterID,@findAcct.Acno,@findAcct.Acname">@findAcct.Acno @findAcct.Acname </option>
                            }
                        </InputSelect>
                    </div>
                </div>
            }
            @if (CostCenter == null)
            {
                <div>wait...fetching cost center</div>
            }
            else
            {
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Cost Center Name</label>
                    <div class="col-sm-8">
                        <InputSelect id="subledger" class="form-control"
                                     ValueChanged="@((string value)=>CostCenter_Change(value))"
                                     ValueExpression="@(()=>CostCenterID)"
                                     Value="CostCenterID">
                            <option>Select Cost Center</option>
                            @foreach (var findCC in CostCenter)
                            {
                                <option value="@findCC.CostCenterID"> @findCC.CostCenterName </option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(()=>Trns.CostCenterID)" />
                    </div>
                </div>
            }
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Narration</label>
                <div class="col-sm-8">
                    <InputTextAreaOnInput Area id="Narration" bind-value:event="oninput" multiline="true"
                                          class="form-control" @bind-Value="Narration1">
                    </InputTextAreaOnInput>
                    <ValidationMessage For="@(()=>Trns.Narr1)"></ValidationMessage>
                </div>
                <div>Char left:@( Narration1 != null?(200-(Narration1).Length).ToString():"200")</div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Cheque No</label>
                <div class="col-sm-4">
                    <InputText id="ChequeNo" class="form-control" @bind-Value="ChequeNo">
                    </InputText>
                </div>
                <label class="col-sm-1 col-form-label">SV No</label>
                <div><InputNumber id="SvNo" style="width:50px" class="form-control" @bind-Value="SVNo"></InputNumber></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Amount</label>
                <div class="col-sm-4">
                    <InputNumber id="Amount" class="form-control" @bind-Value="Amount">
                    </InputNumber>
                </div>
                <button type="submit" class="btn btn-success btn-width" style="width:170px" @onclick="@(()=>UpdateSubVoucher(MyList))">
                    Update SubVoucher
                </button>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Debit/Credit</label>
                <div class="col-sm-4">
                    <InputSelect id="DrCr" class="form-control" @bind-Value="DebitCredit">
                        <option>Select Trn</option>
                        <option value="D">Debit</option>
                        <option value="C">Credit</option>
                    </InputSelect>
                </div>
                <button type="submit" class="btn btn-success btn-width" style="width:170px" @onclick="AddSubVoucher">
                    Add SubVoucher
                </button>
            </div>
            @if (MyList == null)
            {
                <div>wait....</div>
            }
            else
            {
                if (Dis_voucherTable == true)
                {
                    <table style="border:1px solid green">
                        <thead>
                            <tr>
                                <th style="border:1px solid green">Vdt</th>
                                <th style="border:1px solid green">SvNo</th>
                                <th style="border:1px solid green">Ledger</th>
                                <th style="border:1px solid green">AcNo</th>
                                <th style="border:1px solid green">Narration</th>
                                <th style="border:1px solid green">Debit</th>
                                <th style="border:1px solid green">Credit</th>
                            </tr>
                        </thead>

                        @foreach (var ml in MyList)
                        {
                            <tr style="border:1px solid green">
                                <td style="border:1px solid green;vertical-align:top">@ml.Vdt.Date</td>
                                <td style="border:1px solid green;vertical-align:top">@ml.SvNo</td>
                                <td style="border:1px solid green;vertical-align:top">@ml.Slcd</td>
                                <td style="border:1px solid green;vertical-align:top">@ml.Acno</td>
                                <td style="border:1px solid green;vertical-align:top">@ml.Narr1</td>
                                <td style="border:1px solid green;vertical-align:top;text-align:center">@(ml.Dc == "D" ? @ml.Amount : 0)</td>
                                <td style="border:1px solid green;vertical-align:top;text-align:center">@(ml.Dc == "C" ? @ml.Amount : 0)</td>
                                <td><a class="btn btn-primary" @onclick="@(()=>FetchRow(ml))">Select</a></td>
                            </tr>
                        }
                        <tr style="border:1px solid green;background-color:yellow">
                            <td style="border:1px solid green;vertical-align:top"> </td>
                            <td style="border:1px solid green;vertical-align:top"> </td>
                            <td style="border:1px solid green;vertical-align:top"> </td>
                            <td style="border:1px solid green;vertical-align:top;font-weight:bolder">Total </td>
                            <td style="border:1px solid green;vertical-align:top"> </td>
                            <td style="border:1px solid green;vertical-align:top;text-align:center;font-weight:bolder">@DrAmount</td>
                            <td style="border:1px solid green;vertical-align:top;text-align:center;font-weight:bolder">@CrAmount</td>
                        </tr>
                        @*foreach (var ml in MyList)
                        {
                        <InputText id="MLVno" style="width:100px" @bind-Value="@ml.Vno">@ml.Vno</InputText>
                        <InputNumber id="MLSvno" style="width:40px;text-align:center" @bind-Value="@ml.SvNo">@ml.SvNo</InputNumber>
                        <InputText id="MLAcno" style="width:400px" @bind-Value="@ml.Acno">@ml.Acno</InputText>
                        <InputNumber id="MLAcName" @bind-Value="@ml.AcMasterID">@ml.AcMasterID </InputNumber>
                        <InputTextArea id="MLNarr" style="width:400px" @bind-Value="@ml.Narr1">@ml.Narr1</InputTextArea>
                        <InputNumber id="MLAmount" style="width:100px" @bind-Value="@ml.Amount">@ml.Amount</InputNumber>
                        <InputText id="MLDC" style="width:40px;text-align:center" @bind-Value="@ml.Dc">@ml.Dc</InputText>
                        <br />
                        }*@
                    </table>
                }

            }
        }

    </EditForm>
</div>